{% extends 'base.html' %} {% block title %}Motion App Challenges - ctrlX
developR Challenge{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- Include the sidebar -->
      {% include 'sidebar.html' %}
    </div>
    <div class="col-6">
      <!-- Challenges Section -->
      <!-- Challenge 4: Motion App -->
      <div class="pt-4 mt-5 challenge motion" id="motion">
        <h2>4. Motion App Challenge</h2>
        <p>Complete the tasks:</p>
        <form method="post" action="{{ url_for('motion_challenge') }}">
          <div class="list-group-item-action">
            <!-- Checkbox for Task 1 -->
            <label class="list-group-item d-flex gap-2">
              <input
                class="form-check-input flex-shrink-0"
                type="checkbox"
                value="checked"
                name="motiontask1"
                id="motiontask1"
                {{
                button
                }}
              />
              <span
                >Task 1: Configuring Axis
                <small class="d-block text-body-secondary">
                  <a
                    href="{{ url_for('download', challenge='MOTION') }}"
                    download="Motion_Challenge_1.pdf"
                    >Download Task 1 Instructions</a
                  ></small
                >
              </span>
            </label>
            <br />
            <!-- Checkbox for Task 2 -->
            <label class="list-group-item d-flex gap-2">
              <input
                class="form-check-input flex-shrink-0"
                type="checkbox"
                value="checked"
                name="motiontask2"
                id="motiontask2"
                {{
                button
                }}
              />
              <span
                >Task 2: Configuring 3D Viewer
                <small class="d-block text-body-secondary">
                  <a
                    href="{{ url_for('download', challenge='MOTION') }}"
                    download="Motion_Challenge_2.pdf"
                    >Download Task 2 Instructions</a
                  ></small
                >
              </span>
            </label>
            <br />
            <!-- "Complete" Button -->
            {% if current_user.motion_button_pressed: %}
            <div class="mt-3 mb-3">
              <button type="submit" class="btn btn-info btn-lg" {{ button }}>
                Task Completed
              </button>
              {% else: %}
              <button type="submit" class="btn btn-info btn-lg" {{ button }}>
                Complete Task
              </button>
              {% endif %}
              <!-- add a flash message here -->
              {% with messages = get_flashed_messages() %} {% if messages %}
              <p class="flashes">{{ messages[0] }}</p>
              {% endif %} {% endwith %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
