{% extends 'base.html' %} {% block title %}Contact Us - ctrlX developR Challenge
Malaysia{% endblock %} {% block content %}
<div class="container mt-4" id="contact">
  <div class="row">
    <h2 class="mb-4 border-bottom">Contact Us</h2>
  </div>
  <div class="row">
    <!-- <h3>Contact Information</h3>
    <p>
      If you have any questions or need assistance regarding the ctrlX developR
      Challenge Malaysia, feel free to contact us.
    </p>
    <p>We are here to help and provide you with the information you need.</p> -->

    <!-- <h3>Contact Details</h3> -->
    <p>
      Bosch Rexroth Sdn Bhd<br />11, Jalan Astaka U8/82 Bukit Jelutong,
      <br />40150 Shah Alam, Selangor <br />

      <a href="mailto:info@boschrexroth.com.my">info@boschrexroth.com.my</a
      ><br />
      +603-7844 8000<br />
    </p>

    <!-- <h3>Support Team</h3>
    <p>
      Our dedicated support team is ready to assist you with any inquiries or
      concerns you may have. Please don't hesitate to reach out to us.
    </p> -->
    <!-- <h3>Stay Connected</h3> -->
    <p>Connect with us on social media.</p>

    <!-- Add your social media icons and links here -->
    <!-- Example: -->
    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
{% endblock %}
