{% extends 'base.html' %} {% block title %}Frequently Asked Questions - ctrlX
developR Challenge Malaysia{% endblock %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Frequently Asked Questions</h2>

  <h3>About the ctrlX developR Challenge Malaysia</h3>
  <p>
    The ctrlX developR Challenge Malaysia is an exciting opportunity for
    developers and innovators in Malaysia to showcase their skills and
    creativity by participating in a unique coding challenge. This challenge is
    inspired by the success of the first ctrlX developR Challenge organized by
    Bosch Rexroth in Germany.
  </p>

  <h3>What is the ctrlX Platform?</h3>
  <p>
    The ctrlX platform is a revolutionary control platform developed by Bosch
    Rexroth. It provides a flexible and open ecosystem for developing innovative
    industrial applications, making it an ideal choice for participants in the
    challenge.
  </p>

  <h3>Who Can Participate?</h3>
  <p>
    The ctrlX developR Challenge Malaysia is open to developers, engineers, and
    innovators from various backgrounds. Whether you are a student, a
    professional, or an enthusiast, you are welcome to participate and push the
    boundaries of industrial automation.
  </p>

  <h3>How Can I Register?</h3>
  <p>
    To register for the challenge, please visit our registration page and
    complete the registration form. Make sure to provide accurate information
    and agree to the Terms and Conditions.
  </p>

  <h3>Participant Selection and Payment</h3>
  <p>
    Our team will carefully review all registrations, and only those who are
    selected will receive a confirmation notification. To secure your
    participation, selected individuals will be required to complete the payment
    process. The payment information will be included in the confirmation
    notification. All payments made are non-refundable.
  </p>

  <h3>What Are the Categories?</h3>
  <p>
    Participants can choose from a range of categories that reflect different
    industrial sectors and applications. These categories include Simplify
    Engineering, Extend and Connect, Empower the User, Smarten Up Automation and
    Create Your Own.
  </p>

  <h3>What Are the Prizes?</h3>
  <p>
    We have exciting prizes for the winners of the ctrlX developR Challenge
    Malaysia. Prizes will be awarded to the most innovative and impactful
    projects in each category. Stay tuned for updates on prize details.
  </p>

  <h3>Contact Us</h3>
  <p>
    If you have any questions or need further assistance, please don't hesitate
    to contact our team. We are here to support you throughout the challenge.
  </p>

  <p>
    We look forward to seeing your innovative projects and solutions at the
    ctrlX developR Challenge Malaysia!
  </p>
</div>
{% endblock %}
