{% extends 'base.html' %} {% block title %}Frequently Asked Questions - ctrlX
developR Challenge Malaysia{% endblock %} {% block content %}
<div class="container mt-4" id="faq">
  <div class="row">
    <h2 class="mb-4 border-bottom">Frequently Asked Questions</h2>
  </div>
  <div class="row">
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h3 class="accordion-header" id="question1">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer1"
            aria-expanded="true"
            aria-controls="answer1"
          >
            About the ctrlX developR Challenge Malaysia
          </button>
        </h3>
        <div
          id="answer1"
          class="accordion-collapse collapse show"
          aria-labelledby="question1"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            The ctrlX developR Challenge Malaysia is an exciting opportunity for
            developers and innovators in Malaysia to showcase their skills and
            creativity by participating in a unique coding challenge. This
            challenge is inspired by the success of the first ctrlX developR
            Challenge organized by Bosch Rexroth in Germany in 2022.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h3 class="accordion-header" id="question2">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer2"
            aria-expanded="false"
            aria-controls="answer2"
          >
            What is the ctrlX Platform?
          </button>
        </h3>
        <div
          id="answer2"
          class="accordion-collapse collapse"
          aria-labelledby="question2"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            The ctrlX platform is a revolutionary control platform developed by
            Bosch Rexroth. <br />It provides a flexible and open ecosystem for
            developing innovative industrial applications, making it an ideal
            choice for participants in the challenge.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h3 class="accordion-header" id="question3">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer3"
            aria-expanded="false"
            aria-controls="answer3"
          >
            Who Can Participate?
          </button>
        </h3>
        <div
          id="answer3"
          class="accordion-collapse collapse"
          aria-labelledby="question3"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            The ctrlX developR Challenge Malaysia is open to developers,
            engineers, and innovators from various backgrounds. <br />Whether
            you are a student, a professional, or an enthusiast, you are welcome
            to participate and push the boundaries of industrial automation.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h3 class="accordion-header" id="question4">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer4"
            aria-expanded="false"
            aria-controls="answer4"
          >
            How Can I Register?
          </button>
        </h3>
        <div
          id="answer4"
          class="accordion-collapse collapse"
          aria-labelledby="question4"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            To register for the challenge, please visit our registration page
            and complete the registration form. <br />Make sure to provide
            accurate information and agree to the Terms and Conditions.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h3 class="accordion-header" id="question5">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer5"
            aria-expanded="false"
            aria-controls="answer5"
          >
            Participant Selection and Payment
          </button>
        </h3>
        <div
          id="answer5"
          class="accordion-collapse collapse"
          aria-labelledby="question5"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            Our team will carefully review all registrations, and only those who
            are selected will receive a confirmation notification. <br />To
            secure your participation, selected individuals will be required to
            complete the payment process. <br />The payment information will be
            included in the confirmation notification. <br />All payments made
            are final and non-refundable in case of no show.
          </div>
        </div>
      </div>

      <!-- <div class="accordion-item">
      <h3 class="accordion-header" id="question6">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#answer6"
          aria-expanded="false"
          aria-controls="answer6"
        >
          What Are the Categories?
        </button>
      </h3>
      <div
        id="answer6"
        class="accordion-collapse collapse"
        aria-labelledby="question6"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body">
          Participants can choose from a range of categories that reflect
          different industrial sectors and applications. These categories
          include Simplify Engineering, Extend and Connect, Empower the User,
          Smarten Up Automation and Create Your Own.
        </div>
      </div>
    </div> -->

      <div class="accordion-item">
        <h3 class="accordion-header" id="question7">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#answer7"
            aria-expanded="false"
            aria-controls="answer7"
          >
            What Are the Prizes?
          </button>
        </h3>
        <div
          id="answer7"
          class="accordion-collapse collapse"
          aria-labelledby="question7"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body">
            We have exciting prizes for the winners of the ctrlX developR
            Challenge Malaysia. <br />Stay tuned for updates on prize details.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
