{% extends 'base.html' %} {% block title %}ctrlX developR challenge{% endblock
%} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-xl-12 col-lg-10 col-md-10">
      <img
        src="./static/images/DC-AE_ctrlX_developR-challenge_202103_RGB.png"
        alt="ctrlX developR Challenge"
        class="img-fluid mx-auto d-block"
      />
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto">
      <h1 class="h2">Push Your Idea Two Steps Ahead</h1>
      <h3>
        <strong>Be part of it and register now for the next </strong
        ><strong>ctrlX developR challenge - Malaysia Edition!<br /></strong>
      </h3>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto my-auto mx-auto">
      <a class="btn btn-primary btn-lg" href="{{ url_for('registration') }}"
        >Join Now!</a
      >
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="content-after row">
    <div class="col-xl-3 col-lg-4 col-md-6">
      <img
        src="./static/images/DC-AE_ctrlX_CORE_X3_PST3342.jpg"
        width="428"
        height="761"
        alt="ctrlX CORE, industrial control hardware for CNC, PLC, and motion applications"
        title="ctrlX CORE"
        itemprop="image"
        class="img-fluid"
      />
    </div>
    <div class="col-xl-8 col-lg-8 col-md-6">
      <p>
        After the debut of the first ctrlX developR challenge in 2022, it is
        clear that there will be a next ctrlX developR Challenge.
        <br />
        <br />
        Within the first ctrlX developR Challenge, developers implemented their
        creative ideas with the revolutionary control platform ctrlX CORE and
        used it to implement projects for which the proper industrial control
        has been missing so far.
        <br />
        <br />
        It was the perfect opportunity to bring together the biggest talents
        with the most versatile, open, and powerful system available on the
        market. As a result, ideas evolved into solutions and solutions into
        projects.
        <br />
        <br />
        25 participants implemented their ideas with the control platform
        <a
          href="https://apps.boschrexroth.com/microsites/ctrlx-automation/en/portfolio/ctrlx-core/"
          title="ctrlX CORE"
          target="_blank"
        >
          ctrlX CORE
        </a>
        in five different categories. They were supported by specialist mentors
        from Bosch Rexroth and the partners of the partner network
        <a
          href="https://apps.boschrexroth.com/microsites/ctrlx-automation/#challenge-partner"
          title="ctrlX World"
          target="_blank"
        >
          ctrlX World </a
        >. Thanks to the
        <a
          href="https://developer.community.boschrexroth.com/t5/ctrlX-developR-Challenge/bd-p/dcdev_community-dcae-developr-challenge"
          title="ctrlX AUTOMATION Community"
          target="_blank"
        >
          ctrlX AUTOMATION Community </a
        >, our experts were personally available for questions and discussions.
      </p>
    </div>
  </div>
</div>
{% endblock %}
