{% extends 'base.html' %} {% block title %}ctrlX developR challenge{% endblock
%} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-xl-12 col-lg-10 col-md-10">
      <img
        src="./static/images/DC-AE_ctrlX_developR-challenge_202103_RGB.png"
        alt="ctrlX developR Challenge"
        width="428"
        height="761"
        class="img-fluid mx-auto d-block"
      />
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto">
      <h2>Push Your Idea Two Steps Ahead</h2>
      <h4>
        <strong>Be part of it and register now for the 2024 <br /></strong
        ><strong>ctrlX developR challenge - Malaysia Edition!<br /></strong>
      </h4>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto my-auto">
      <a class="btn btn-danger btn-lg" href="{{ url_for('registration') }}"
        >Join Now!</a
      >
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="content-after row">
    <div class="col-xl-8 col-lg-8 col-md-6">
      <p>
        After the debut of the first ctrlX developR challenge in 2022, it is
        clear that there will be a next ctrlX developR Challenge.
        <br />
        <br />
        Within the first ctrlX developR Challenge, developers implemented their
        creative ideas with the revolutionary control platform ctrlX CORE and
        used it to implement projects for which the proper industrial control
        has been missing so far.
        <br />
        <br />
        It was the perfect opportunity to bring together the biggest talents
        with the most versatile, open, and powerful system available on the
        market. As a result, ideas evolved into solutions and solutions into
        projects.
        <br />
        <br />
        Now, it's your turn to transform your ideas into reality!
        <strong>We Move, You Win!</strong>
      </p>
    </div>
  </div>
</div>
{% endblock %}
