{% extends 'base.html' %} {% block title %}Scoreboard - ctrlX developR
Challenge{% endblock %} {% block content %}
<div class="container mt-4" id="scoreboard">
  <div class="row">
    <h2 class="mb-4 border-bottom">Scoreboard</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <!-- TO-DO: Implement auto-refresh feature -->
      <!-- <h4>Last update: 10 seconds ago</h4> -->
      <!-- Only show if user id is 1 (admin user) -->
      {% if current_user.id == 1: %}
      <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Group Name</th>
            <th>Score</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          {%for user in all_users_data: %}
          <tr>
            <td>{{ user.ranking }}</td>
            <td>{{ user.group_name }}</td>
            <td>{{ user.total_score }}</td>
            <td>{{ user.total_duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else: %}
      <table class="table">
        <thead>
          <tr>
            <!-- <th>Rank</th> -->
            <th>Group Name</th>
            <th>Score</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ current_user.group_name }}</td>
            <td>{{ score }}</td>
            <td>{{ duration }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<!-- {% for result in results: %} -->
<!-- <tr> -->
<!-- Arrange ranking by duration -->
<!-- <td>1</td> -->
<!-- <td>{{ result["group_name"] }}</td> -->
<!-- <td>{{ result["total_score"] }}</td> -->
<!-- <td>{{ result["total_duration"] }}</td> -->
<!-- </tr> -->
<!-- {% endfor %} -->

<!-- 
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #1</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #2</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #3</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #4</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #5</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #6</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #7</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #8</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #9</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #10</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #11</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-2 mt-2 mb-2 display-6 lh-1 fw-bold">Team #12</h3>
          <h4 class="pt-2 pb-2 mt-2 mb-4 display-6 lh-1 fw-bold">Score:</h4>
        </div>
      </div>
    </div>
  </div> -->
