{% extends "base.html" %} {% block title%} AK.AI.DEV Home{% endblock %}
{% block content%}
<div class="container px-4 py-5 my-5">
  <section id="home">
    <div class="row xs-column-reverse section-separator vertical-middle-content home-padding">
      <div class="col-sm-6 text-left text-light">
        <h1 class="display-5 fw-bold text-light">Hi, I'm AK.</h1>
        <h2 class="fw-bold">Industrial Engineer & <br>Software Developer.</h2>
      </div>
      <div class="col-sm-6">
        <div class="image">
          <img src="./static/assets/images/my-photo.jpg" alt="my-photo" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}