<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <body>
    <!-- Page Header-->
    <header
      class="masthead"
      style="
        background-image: url('./static/assets/img/title-soccer-ball-on-grass-in-corner.jpg');
      "
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Top 11 Football Stadium in the World.</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="text-justified container px-4 px-lg-5">
        <div class="mb-4 row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>11. Soccer City, South Africa</h2>
              <p>Opened in 1989, the First National Bank Stadium—known as Soccer
                    City—was renovated in 2009 ahead of the 2010 World Cup in South
                    Africa. Although it is home to South African club side Kaizer Chiefs,
                    the stadium is fondly remembered for hosting the showpiece event of
                    the 2010 WC-final, but also for hosting the opening game and goal of
                    the tournament—Siphiwe Tshabalala finding the back of the Mexican net
                    with a thumping effort. The incessant noise of the vuvuzela can prove
                    hard to ignore, but it should take nothing away from a truly wonderful
                    football stadium.
            </p>
              <img class="img-fluid"
                alt=""
                src="./static/assets/img/11-Soccer-City-SA.jpg"
            />
            <!-- <button class="btn btn-outline-light" type="button">View</button> -->
          </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>10. The Maracanã, Rio de Janeiro</h2>
        <p>
            The Maracanã is one of the most notable stadiums in world football,
            situated in one of the most beautiful cities throughout the world. The
            stadium hosted the 1950 decisive World Cup group-stage match (there was
            no final that year) between Brazil and Uruguay that saw a staggering
            capacity of 199,854. Although the hosts tasted bitter defeat, the match
            will go down as one of the classics in the game's history.
        </p>
      <img
            class="img-fluid"
            alt=""
            src="./static/assets/img/10-Maracana-Stadium-Rio.jpg"
        />
        <!-- <button class="btn btn-outline-secondary" type="button">View</button> -->
      </div>
    </div>
  </div>
  <div class="mb-4 row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>9. San Siro, Italy</h2>
        <p>
            Known as the San Siro, the multipurpose stadium is home to two
            football heavyweights and archrivals AC Milan and Internazionale. It
            is the country's most famous and largest ground. With some of the
            game's greatest footballers gracing its pitch and having hosted
            European Cup and Champions League finals, the San Siro is one of the
            most revered and respected stadiums in the world. It can carry 80,018
            people and is designed in such a manner so as to give every spectator
            maximum visibility regardless of where he may be seated.
        </p>
        <img
            class="img-fluid"
            alt=""
            src="./static/assets/img/09-San-Siro-Italy.jpg"
        />
        <!-- <button class="btn btn-outline-light" type="button">View</button> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>8. Anfield Road, United Kingdom</h2>
        <p>
          Though not a huge stadium in terms of capacity by any means
          (Capacity: 45,276), the legendary atmosphere at Anfield known
          throughout the world makes the home of Liverpool one of the great
          stadiums. Home to the Reds, who have won five European Cup titles,
          Anfield is always a treat for members of any visiting team, though it
          continues to instil fear into any opposition. From the famous “This
          Is Anfield” sign hanging in the tunnel, to the passionate home fans
          singing "You'll Never Walk Alone," Anfield will forever be a favourite
          amongst players and fans alike.
        </p>
        <img
            class="img-fluid"
            alt=""
            src="./static/assets/img/08-Anfield-Road-UK.jpg"
        />
        <!-- <button class="btn btn-outline-secondary" type="button">View</button> -->
      </div>
    </div>
  </div>
  <div class="mb-4 row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>7. Westfalenstadion, Germany</h2>
        <p>
          Dive into the heart of German football at Westfalenstadion, home to Borussia Dortmund. Inaugurated in 1974, this iconic stadium is renowned for passionate fans and thrilling football. The famous "Yellow Wall," a towering terrace, creates an electric atmosphere unmatched in European football. With over 80,000 capacity, it's more than a venue—it's a fortress where the spirit of "Die Schwarzgelben" (The Black and Yellows) comes alive. Whether it's a local derby or a crucial European clash, Westfalenstadion offers an unforgettable experience, making it a must-visit for football enthusiasts worldwide.
        </p>
        <img
            class="img-fluid"
            alt=""
            src="/static/assets/img/07-Westfalenstadion-Germany.jpg"
        />
        <!-- <button class="btn btn-outline-light" type="button">View</button> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>6. Azteca – Mexico</h2>
        <p>
          Mexico City's Estadio Azteca is renowned for its huge
          capacity(104,000) and electric atmosphere when full, but it will go
          down in history as the only stadium to host two World Cup finals.<br />
          <br />
          Unfortunately for England fans, it is also the venue for Diego
          Maradona's infamous “Hand of God” goal.<br />
          <br />
          The venue may not be fondly remembered by the enormity of England
          fans, but there is no denying that the stadium—the third-largest
          football stadium in the world—is one of the finest around.<br />
        </p>
        <img
            class="img-fluid"
            alt=""
            src="./static/assets/img/06-Azteco-Mexico.jpg"
        />
        <!-- <button class="btn btn-outline-secondary" type="button">View</button> -->
      </div>
    </div>
  </div>
  <div class="mb-4 row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>5. Camp Nou, Spain</h2>
        <p>
    The Camp Nou is Europe's largest football stadium(Capacity: 98,757) and is
    home to one of the great football teams. Barcelona's motto “mes que un club”
    (more than a club) is iconic throughout the footballing world, and their
    stadium is a huge part of everything Barcelona stands for.<br />
    <br />
    The capacity of the Camp Nou once eclipsed 120,000 for the 1982 World Cup
    finals, but due to changes in laws regarding standing in stadiums, it has
    now been reduced.<br /></p>
    <img
        class="img-fluid"
        alt=""
        src="./static/assets/img/05-Camp-Nou-Spain.jpg" /></a
    >
        <!-- <button class="btn btn-outline-light" type="button">View</button> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>4. Old Trafford, United Kingdom</h2>
        <p>
    Old Trafford's tenants split opinion. You either love them or you hate them.
    But irrespective of your slant, there's no hiding away from the fact that
    “The Theatre of Dreams” is a truly magnificent venue.<br />
    <br />
    Opened in 1910, the home of the Red Devils now seats over 75,000 fans—after
    its 2006 renovation—and is England's largest club stadium.<br />
    <br />
    With former manager Sir Alex Ferguson recently leaving his post, Manchester
    United look set to embark on a new era. One thing's for sure, however: Fans
    from around the world will continue flocking to the cosmopolitan Old
    Trafford to take in the magic of the stadium and to watch one of football's
    most successful clubs.<br /></p>
    <img
        class="img-fluid"
        alt=""
        src="./static/assets/img/04-Old-Trafford-UK.jpg" />
        <!-- <button class="btn btn-outline-secondary" type="button">View</button> -->
      </div>
    </div>
  </div>
  <div class="mb-4 row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>3. The Allianz Arena, Germany</h2>
        <p>
    The beautifully designed Allianz Arena is home to both Munich-based football
    teams: Bayern Munich and 1860 Munich. It is the only stadium across Europe
    that is able to change colours to reflect which of the two teams are
    playing—red for Bayern and blue for 1860 Munich.<br />
    <br />
    The stadium has been a huge hit with both sets of fans thanks to the fans
    being closer to the pitch—something that caused an issue at the previous
    site, the Olympiastadion, which had a running track around the pitch that
    made for a rather poor atmosphere.<br />
    <br />
    The relatively new Allianz Arena will surely make a name for itself as one
    of the greatest stadiums in world football for years to come.<br /></p>
    <img
        class="img-fluid"
        alt=""
        src="./static/assets/img/03-Allianz-Arena-Germany.jpg" />
        <!-- <button class="btn btn-outline-light" type="button">View</button> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>2. Wembley, United Kingdom</h2>
        <p>
  Wembley Stadium is, without doubt, the most iconic stadium in world football.
  (Capacity: 90,000)<br />
  <br />
  Reopened in 2007, the new Wembley was built on the site of the previous 1923
  Wembley Stadium. Famous as one of the most electric atmospheres in world
  football, the new design has encompassed everything that was great about the
  original stadium and has added to that further. The famous Twin Towers may no
  longer be standing, but in their place is the Wembley Arch.<br />
  <br />
  Holding some of the most prestigious events in European and international
  football is now commonplace at “The Home of Football.”<br /></p>
  <img
      class="img-fluid"
      alt=""
      src="./static/assets/img/02-Wembley-UK.jpg" />
        <!-- <button class="btn btn-outline-secondary" type="button">View</button> -->
      </div>
    </div>
  </div>
  <div class="mb-4 row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>1. Santiago Bernabéu Stadium, Spain</h2>
        <p>
    Steeped in football history, the Santiago Bernabéu Stadium in Madrid, Spain,
    has been an iconic venue since its opening in 1947.<br> Home to the legendary
    Real Madrid, the stadium has witnessed countless historic moments in the
    world of football.<br />
    <br />
    Renowned for its electrifying atmosphere, the Bernabéu has hosted numerous
    UEFA Champions League finals and high-stakes La Liga clashes. <br>With a seating
    capacity of over 80,000, it stands as a cathedral of football, echoing with
    the cheers of passionate fans from around the globe.<br />
    <br />
    The stadium underwent significant renovations in recent years, enhancing
    both its aesthetic appeal and modern amenities. <br>The Santiago Bernabéu
    Stadium not only encapsulates the grandeur of Spanish football <br>but also
    serves as a symbol of Real Madrid's glorious legacy on the global stage.<br /></p>
    <img 
        class="img-fluid"
        alt=""
        src="./static/assets/img/01-Santiago-Bernabéu-Stadium-Spain.jpg"
    />
        <!-- <button class="btn btn-outline-light" type="button">View</button> -->
      </div>
    </div>
          </div>
    </div>
    <!-- Footer-->
    {% include 'footer.html' %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="./static/js/scripts.js"></script>
  </body>
</html>
