<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Personal Site</title>
    <link rel="stylesheet" href="./static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
      rel="stylesheet"
    />
    <link rel="icon" href="./static/favicon.ico" />
  </head>

  <body>
    <div class="top-container">
      <img class="top-cloud" src="./static/images/cloud.png" alt="cloud" />
      <div class="title-text">
        <h1>I'm Ahmad Khairi.</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
      </div>
      <img class="bottom-cloud" src="./static/images/cloud.png" alt="cloud" />
      <img
        class="mountain"
        src="./static/images/mountain.png"
        alt="mountain-img"
      />
    </div>

    <div class="middle-container">
      <div class="profile">
        <img
          src="./static/images/steve-jobs-thumbnail.png"
          alt="steve-jobs-profile-img"
        />
        <h2>Hello.</h2>
        <p class="intro">
          I am a Mechatronics Engineer and a Web Developer.<br /><br />
          I ❤️ coffee.
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img
            class="chilli-img"
            src="./static/images/chillies.png"
            alt="chillies-img"
          />

          <h3>
            Hydraulics, Automation, Robotics, Industrial IoT & Industry 4.0
          </h3>
          <p>
            I started working at Bosch Rexroth since 2010 as an Application
            Engineer and currently I am the Head of Rexroth Academy. Having more
            than 13 years of experience in the tech industry has given me a
            solid foundation and I am constantly learning new skills.
          </p>
        </div>
        <div class="skill-row">
          <img
            class="code-img"
            src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif"
            alt="code-img"
          />

          <h3>Web Design & Development</h3>
          <p>
            I started learning to code in HTML, CSS, JavaScript and Python since
            2020 during the Covid-19 pandemic. Over time, I have gained a wealth
            of experience developing web applications.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love engineering and technology as much as I do.</h3>
        <p class="contact-message">Let's talk about how awesome they are!</p>
        <a class="btn" href="mailto:ak.test.smtp.python@gmail.com"
          >CONTACT ME</a
        >
      </div>
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://ahmad-khairi.github.io/">Website</a>
      <p class="copyright">© 2023 Ahmad Khairi.</p>
    </div>
  </body>
</html>
